<div class="p-{{ section.id }} {% if section.settings.section_width == 'within_container' %} page-width {% endif %} color-{{ section.settings.section_color_scheme }}">
  <div class="product-list__container">
    <div class="product-list__content text-{{ section.settings.text_alignment }} flex flex-col md:flex-row md:justify-between md:items-center mb-12 gap-8">
      <div class="product-list__heading-container">
        {% if section.settings.heading != blank %}
          <h2 class="font-bold text-7xl">{{ section.settings.heading }}</h2>
        {% endif %}
        {% if section.settings.description != blank %}
          <p>{{ section.settings.description }}</p>
        {% endif %}
      </div>
      {% if section.settings.button_text != blank %}
        <div class="product-list__link flex items-center gap-4 cursor-pointer">
          <a href="{{ section.settings.button_link }}" class="text-inherit whitespace-nowrap transition-[background-size] duration-300 ease-in-out">{{ section.settings.button_text }}</a>
          <span class="product-list__icon flex items-center justify-center gap-4 w-10 h-10 bg-[rgba(26,26,26,0.12)] rounded-full transition-colors duration-300 ease-in-out cursor-pointer">{% render 'icon-arrow-right' %}</span>
        </div>
      {% endif %}
    </div>

    {% if section.settings.layout == 'slider' %}
      {% assign slider = true %}
    {% else %}
      {% assign slider = false %}
    {% endif %}
    
    <product-list-slider
      class="{% if slider %} slider_container {% else %} product-list__grid grid gap-4 md:gap-8 grid-cols-{{ section.settings.mobile_count }} md:grid-cols-{{ section.settings.desktop_count }} {% endif %}"
      id="product-list-slider"
      data-autoplay="{{ section.settings.enable_autoplay }}"
      data-interval="{{ section.settings.autoplay_interval }}"
      data-pagination="{{ section.settings.enable_page_dots }}"
      data-arrows="{{ section.settings.enable_navigation_arrows }}"
      data-desktopcount="{{ section.settings.desktop_count }}"
      data-mobilecount="{{ section.settings.mobile_count }}"
    >
      {% if slider %}
      <div class="splide__track">
        <ul class="splide__list gap-4 md:gap-8">
      {% endif %}
          {% for product in section.settings.product_list %}
            {% if slider %}
            <li class="product-list__grid-item splide__slide">
            {% else %}
            <div class="product-list__grid-item relative overflow-hidden">
            {% endif %}
              {% render 'product-card', product: product, section, section %}
            {% if slider %}
              </li>
            {% else %}
            </div>
            {% endif %}
          {% endfor %}
      {% if slider %}
        </ul>
      </div>
    {% endif %}
    </product-list-slider>
  </div>
</div>

{% if slider %}
  <script src="{{ 'product-list.js' |  asset_url }}"></script>
{% endif %}
<style>
  .p-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  @media (max-width: 768px) {
    .p-{{ section.id }} {
      padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
    }
  }
</style>


<style>
  .product-list__link a {
    background: linear-gradient(to right, currentColor, currentColor) 0 min(100%, 1.35em) / 0 1px no-repeat;
  }
  .product-list__link:hover a {
    background-size: 100% 1px;
  }
  .product-list__link:hover .product-list__icon {
    background: rgba(26, 26, 26, 1);
    color: rgba(255, 255, 255, 1);
  }
</style>

{% schema %}
{
  "name": "Product list",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 40
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "slider",
      "options": [
        {
          "label": "grid",
          "value": "grid"
        },
        {
          "label": "slider",
          "value": "slider"
        }
      ]
    },
    {
      "type": "select",
      "label": "Section width",
      "id": "section_width",
      "default": "within_container",
      "options": [
        {
          "label": "Within container",
          "value": "within_container"
        },
        {
          "label": "Full width",
          "value": "full_width"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "label": "Number of columns in desktop",
      "id": "desktop_count",
      "default": 4,
      "min": 1,
      "max": 4,
      "step": 1
    },
    {
      "type": "range",
      "label": "Number of columns in mobile",
      "id": "mobile_count",
      "default": 2,
      "min": 1,
      "max": 4,
      "step": 1
    },
    {
      "type": "header",
      "content": "Slider options"
    },
    {
      "type": "checkbox",
      "label": "Enable autoplay",
      "id": "enable_autoplay",
      "default": false,
      "info": "select to enable autoplay"
    }, 
    {
      "type": "range",
      "label": "Autoplay interval",
      "id": "autoplay_interval",
      "default": 3,
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "s"
    },
    {
      "type": "checkbox",
      "label": "Enable page dots",
      "id": "enable_page_dots",
      "default": true
    },
    {
      "type": "checkbox",
      "label": "Enable navigation arrows",
      "id": "enable_navigation_arrows",
      "default": false
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Product List"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products",
      "limit": 12
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "View all"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Product list"
    }
  ]
}
{% endschema %}



